$bg: rgba(19,20,31,1);
$bg-module: #3a3b4f;
$bg-inner: #2b2c3b;
$bg-button: #222231;
$nunito: "Nunito", sans-serif;
$shadow-window:  0px 4px 6px rgba(0, 0, 0, 0.2);

/*Modules and Tracker Elements*/
.TeamModule {
    background-color: $bg-module;
    padding: 25px;
    margin: 50px 12px 0px 12px;
    border-radius:8px;
    box-shadow: $shadow-window;
    height:600px;
    width:560px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:10px;
    justify-content: center;
    text-align:center;
    z-index: 3;
    position: relative;
  }

#team-module-header {
  margin: 0px 10px 0px 10px;
  color:white;
}

#title-container {
  align-items:center;
  display:flex;
  flex-direction:row;
  margin-bottom:30px;
}

#team-crest-url {
  width:40px;
  height:40px;
}

.crest-name-container {
  display:flex;
  align-items:center;
}

.crest-name-container img {
  margin-right:10px;
}


#league-emblem {
  width:40px;
  height:40px;
  background-color:white;
  padding:5px;
  border-radius:8px;
  box-shadow:$shadow-window;
}

.date-container {
  display:flex;
  flex-direction:column;

}

.close-team-button {
  background-color:$bg-button;
  border-radius:8px;
  padding: 2px;
  position:absolute;
  top:18px;
  left:488px;
  box-shadow:$shadow-window;
}

.module-grid-container {
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content:center;
}

